<!DOCTYPE html>

<html lang="en">
	<div>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% load staticfiles %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

			{% block static %}{% endblock %}
			{% block title %}{% endblock %}
		</head>

		
		<body>
			{% block navbar %}{% endblock %}
			<div class='container-fluid'>
				{% block content %}{% endblock %}

				{% block javascript %}{% endblock %}
			</div>
		</body>
	</div>
</html>